<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="jumbotron">
 <nav class="nav navbar-nav">
      <a routerLink="/movie-list" routerLinkActive="active">Unknown</a>
      <a routerLink="/under-construction" routerLinkActive="active">Unknown</a>
      <a routerLink="/under-construction" routerLinkActive="active">Unknown</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
  </nav>
      <h1>Mandatory Angular App (Movies)   <img class="hidden-xs img-rounded movie_img" src='\assets\Images\image-not-found.jpg' width="100" height="100"> </h1>  
      What we have learned so far
</div> 
<div class="container">
    <router-outlet></router-outlet>
   <!-- <app-tmdbservice-handler></app-tmdbservice-handler>-->
</div>   