img {
    width: 100%;
    padding:1px;
    border: 1px solid #021a40;
    background-color:rgb(43, 43, 27)
  }
  img:hover{
    border: 1px solid #021a40;
    background-color:#ff0
  }
  .filmkasse {
    height: 550px;
  }
  h3:hover{
    color: cadetblue
  }
